<div class="grid-container outline">

    <%= render :partial => "header" %>
    
    <%= render :partial => "notice_band" %>
    
    <%= render :partial => "title_band" %>
    
    <%= render :partial => "info_band" %>
    
    <%= render :partial => "filter_band" %>
    
    <%= render :partial => "column_separate_form" %>
    
    <%= render :partial => "column_index" %> 

    <%= render :partial => "column_index_total" %> 

</div>
