<div class="grid-container outline">

    <%= render :partial => "header" %>
    
    <%= render :partial => "notice_band" %>
    
    <%= render :partial => "title_band" %>
    
    <%= render :partial => "info_band" %>
    
    <%= render :partial => "option_band" %>
    
    <%= render :partial => "column_separate_show" %> 

</div>
